body {
  background-image: url("/img/bamboowp.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  body * {
    border: 0;
    box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

@media (min-width: 1200px) {
  body {
    margin: auto;
    max-width: 1200px; } }

ul {
  list-style-type: none; }

header {
  background-color: #cae8d5; }

main section {
  background-color: #3b6978; }

footer {
  background-color: #cae8d5; }

* {
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merienda", cursive;
  font-size: 0; }

h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 5px red; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.2rem; }

.wrapper {
  position: relative;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 8vh minmax(87vh, auto) 5vh;
  grid-template-areas: "menuBar" "main" "footer"; }

@media (min-width: 768px) {
  .wrapper {
    position: relative;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 8vh minmax(87vh, auto) 5vh;
    grid-template-areas: "menuBar" "main" "footer"; } }

@media (min-width: 1200px) {
  .wrapper {
    position: relative;
    background-image: linear-gradient(to bottom, #204051, #84a9ac);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 8vh minmax(75vh, auto) 17vh;
    grid-template-areas: "menuBar" "main" "footer"; } }

ul {
  list-style-type: none; }

header {
  background-color: #cae8d5; }

main section {
  background-color: #3b6978; }

footer {
  background-color: #cae8d5; }

.contentArea {
  grid-area: main;
  padding: 1rem;
  overflow: hidden; }

.contentWrapper {
  overflow: hidden;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #204051, #84a9ac);
  opacity: 1; }

.contentArea .contentImg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  padding: 0 1rem; }
  .contentArea .contentImg:hover + .contentText .hiddenText {
    height: 100%; }

.contentArea .contentText {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex_start;
  align-items: flex_start;
  text-align: center;
  min-height: 0vh;
  transition: all 1s ease-in;
  padding: 1rem; }
  .contentArea .contentText span * {
    display: inline-block; }
  .contentArea .contentText .hiddenText {
    overflow: hidden;
    max-height: 0;
    transition: inherit; }
    .contentArea .contentText .hiddenText ul {
      overflow: hidden; }
  .contentArea .contentText:hover .hiddenText {
    max-height: 40vh; }

@media (min-width: 1200px) {
  .contentWrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #204051, #84a9ac);
    opacity: 1;
    height: 100%; }
    .contentWrapper article:nth-of-type(1) {
      width: 50%; }
    .contentWrapper article:nth-of-type(2) {
      width: 50%; }
  .contextText .hiddenText {
    max-height: 100%;
    transform: rotate(90deg); }
  .contentArea {
    grid-area: main;
    padding: 0;
    overflow: hidden; } }

nav {
  background-color: #84a9ac;
  opacity: 0.7;
  z-index: 1; }

.menuBar {
  grid-area: menuBar;
  position: sticky;
  top: 0%;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex_start;
  align-items: flex_end; }
  .menuBar .hiddenMenu {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #84a9ac;
    width: 0vw;
    height: 30vh;
    overflow: hidden;
    transition: width 1s; }
    .menuBar .hiddenMenu:hover {
      width: 30vw; }
    .menuBar .hiddenMenu .listHolder {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      min-width: 80%;
      min-height: 80%;
      position: absolute;
      top: 20%;
      left: 5%; }
      .menuBar .hiddenMenu .listHolder li {
        position: relative; }

.interactionBar {
  grid-area: footer;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

@media (min-width: 768px) {
  body {
    background-image: url("../../img/chicken-curry_large.jpg"); } }

@media (min-width: 1200px) {
  body {
    background-image: url("../../img/shakshuka_with_feta_400-900.jpg"); }
  .menuBar {
    display: block;
    background-color: green;
    width: 100%; }
    .menuBar .hiddenMenu {
      width: 100%;
      height: 100%; }
      .menuBar .hiddenMenu:hover {
        width: 100%; }
      .menuBar .hiddenMenu .listHolder {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
  h4 {
    font-size: 1.5rem; }
  .interactionBar {
    display: none; } }

footer {
  display: none;
  grid-area: footer;
  height: 100%; }

@media (min-width: 1200px) {
  footer {
    display: block;
    position: fixed;
    bottom: 0; } }

.menuButton {
  font-size: 2.5rem;
  background-color: #84a9ac;
  z-index: 2; }
  .menuButton:hover + div {
    width: 30vw; }

.interactionBar button {
  text-shadow: 2px 2px 3px black; }

.interactionBar button:nth-of-type(1) {
  color: #19d8ce; }

.interactionBar button:nth-of-type(2) {
  color: white; }

.interactionBar button:nth-of-type(3) {
  color: yellow; }

@media (min-width: 1200px) {
  .menuButton {
    display: none; } }

.contentImg picture {
  background-color: red; }

.contentImg picture img {
  height: 30vh;
  border-radius: 5px; }

@media (min-width: 1200px) {
  .contentImg picture img {
    object-fit: contain;
    border-radius: 5px;
    align-items: center; } }
