body {
  background-image: url("/img/bamboowp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  body * {
    border: 0;
    box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

@media (min-width: 1200px) {
  body {
    margin: auto;
    max-width: 1200px; } }

ul {
  list-style-type: none; }

nav {
  background-color: #204051; }

main section {
  background-color: #3b6978; }

main article {
  background-color: #84a9ac; }

footer {
  background-color: #cae8d5; }

* {
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merienda", cursive;
  font-size: 0; }

h1 {
  font-size: 3rem;
  text-shadow: 1px 1px 5px red; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.2rem; }

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  z-index: 2;
  min-width: 100%;
  top: 0;
  left: 0; }

@media (min-width: 1200px) {
  header {
    background-color: #84a9ac;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    grid-area: title;
    z-index: 0; } }

.wrapper {
  position: relative;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 8vh minmax(87vh, auto) 5vh;
  grid-template-areas: "menuBar" "main" "footer"; }

@media (min-width: 768px) {
  .wrapper {
    position: relative;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 8vh minmax(87vh, auto) 5vh;
    grid-template-areas: "menuBar" "main" "footer"; } }

@media (min-width: 1200px) {
  .wrapper {
    position: relative;
    background-image: linear-gradient(to bottom, #204051, #84a9ac);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 7vh 5vh minmax(75vh, auto) 17vh;
    grid-template-areas: "title" "menuBar" "main" "footer"; } }

ul {
  list-style-type: none; }

nav {
  background-color: #204051; }

main section {
  background-color: #3b6978; }

main article {
  background-color: #84a9ac; }

footer {
  background-color: #cae8d5; }

.contentArea {
  grid-area: main;
  padding: 1rem;
  overflow: hidden; }

.contentWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  grid-template-rows: 40vh minmax(20vh, 35vh) auto;
  grid-template-areas: "img" "titletag" "instructions";
  overflow: hidden;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, #204051, #84a9ac); }
  .contentWrapper article {
    padding: 0 1rem; }
  .contentWrapper .contentImg {
    grid-area: img;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    .contentWrapper .contentImg img {
      max-width: 100%;
      border-radius: 5px; }
  .contentWrapper .contentTitleTag {
    grid-area: titletag;
    max-height: 40vh; }
    .contentWrapper .contentTitleTag h1 {
      text-align: center; }
    .contentWrapper .contentTitleTag ul li {
      display: inline; }
      .contentWrapper .contentTitleTag ul li h6 {
        display: inherit; }
    .contentWrapper .contentTitleTag .contentIngredients {
      max-height: 60%;
      overflow: auto; }
      .contentWrapper .contentTitleTag .contentIngredients ul {
        column-count: 2; }
        .contentWrapper .contentTitleTag .contentIngredients ul li {
          display: block; }
  .contentWrapper .contentInstructions {
    grid-area: instructions; }
    .contentWrapper .contentInstructions ol {
      list-style-position: inside; }

@media (min-width: 1200px) {
  .contentWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh auto;
    grid-template-areas: "img meta" "instructions instructions";
    border-radius: 0px;
    background-image: linear-gradient(to bottom, #204051, #84a9ac);
    height: 100%; }
    .contentWrapper .contentImg {
      grid-area: img; }
      .contentWrapper .contentImg img {
        max-width: 100%;
        border-radius: 5px; }
    .contentWrapper .contentTitleTag {
      grid-area: meta; }
      .contentWrapper .contentTitleTag h1 {
        text-align: center; }
      .contentWrapper .contentTitleTag ul li {
        display: inline; }
        .contentWrapper .contentTitleTag ul li h6 {
          display: inherit; }
      .contentWrapper .contentTitleTag .contentIngredients {
        background-color: navajowhite; }
        .contentWrapper .contentTitleTag .contentIngredients ul {
          column-count: 2; }
    .contentWrapper .contentInstructions {
      grid-area: instructions; } }

nav {
  background-color: #84a9ac;
  opacity: 0.7;
  z-index: 1; }

.menuBar {
  grid-area: menuBar;
  position: sticky;
  top: 0%;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex_start;
  align-items: flex_end; }
  .menuBar h1 {
    z-index: 2; }
  .menuBar .hiddenMenu {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: #84a9ac;
    width: 0vw;
    height: 30vh;
    overflow: hidden;
    transition: width 1s; }
    .menuBar .hiddenMenu:hover {
      width: 30vw; }
    .menuBar .hiddenMenu .listHolder {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      min-width: 80%;
      min-height: 80%;
      position: absolute;
      top: 20%;
      left: 5%; }
      .menuBar .hiddenMenu .listHolder li {
        position: relative; }

.interactionBar {
  grid-area: footer;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

@media (min-width: 768px) {
  body {
    background-image: url("../../img/chicken-curry_large.jpg"); } }

@media (min-width: 1200px) {
  body {
    background-image: url("../../img/shakshuka_with_feta_400-900.jpg"); }
  .menuBar {
    display: block;
    background-color: green;
    width: 100%; }
    .menuBar .hiddenMenu {
      width: 100%;
      height: 100%; }
      .menuBar .hiddenMenu:hover {
        width: 100%; }
      .menuBar .hiddenMenu .listHolder {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
  h4 {
    font-size: 1.5rem; }
  .interactionBar {
    display: none; } }

footer {
  display: none;
  grid-area: footer;
  height: 100%; }

@media (min-width: 1200px) {
  footer {
    display: block; } }

.menuButton {
  font-size: 2.5rem;
  background-color: #84a9ac;
  z-index: 2; }
  .menuButton:hover ~ div {
    width: 30vw; }

.interactionBar button {
  text-shadow: 2px 2px 3px black; }

.interactionBar button:nth-of-type(1) {
  color: #19d8ce; }

.interactionBar button:nth-of-type(2) {
  color: white; }

.interactionBar button:nth-of-type(3) {
  color: yellow; }

@media (min-width: 1200px) {
  .menuButton {
    display: none; } }

@media (min-width: 1200px) {
  .contentImg picture img {
    object-fit: contain;
    border-radius: 5px;
    align-items: center; } }
