body {
  background-image: url("/img/bamboowp_vertical.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  body * {
    border: 0;
    box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

@media (min-width: 600px) {
  body {
    margin: auto;
    max-width: 1200px; } }

ul {
  list-style-type: none; }

* {
  line-height: 1.6;
  font-family: "Quicksand", sans-serif;
  font-size: 16px; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    border-left: 1px solid black;
    border-right: 1px solid black; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merienda", cursive;
  font-size: 0; }

h1 {
  font-size: 2rem;
  text-shadow: 1px 1px 5px red; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.2rem; }

.wrapper {
  position: relative;
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 8vh minmax(87vh, auto) minmax(auto, 8vh);
  grid-template-areas: "topContainer" "main" "footer"; }
  .wrapper main {
    margin: 1rem; }

@media (min-width: 600px) {
  .wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 9vh minmax(87vh, auto) auto;
    grid-template-areas: "topContainer" "main" "footer"; }
    .wrapper main {
      margin: unset; } }

ul {
  list-style-type: none; }

main {
  grid-area: main;
  overflow: auto; }
  main > * {
    background-color: #ffffff; }

.contentArea {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0rem;
  grid-template-rows: 40vh auto auto;
  grid-template-areas: "img" "titletag" "instructions";
  transition: all 1s; }
  .contentArea:hover .hiddenText {
    max-height: 30vh; }
  .contentArea:hover .contentTitleTag .hiddenText {
    max-height: 20vh; }
  .contentArea article {
    transition: inherit;
    padding: 0 1rem; }
  .contentArea .contentImg {
    grid-area: img;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    .contentArea .contentImg img {
      max-width: 100%;
      border-radius: 5px; }
  .contentArea .contentTitleTag {
    border-radius: 5px;
    grid-area: titletag;
    overflow: hidden; }
    .contentArea .contentTitleTag h1 {
      text-align: center; }
    .contentArea .contentTitleTag ul li {
      display: inline; }
      .contentArea .contentTitleTag ul li h6 {
        display: inherit; }
    .contentArea .contentTitleTag .contentIngredients {
      background-color: whitesmoke;
      overflow: auto; }
      .contentArea .contentTitleTag .contentIngredients ul {
        column-count: 2; }
        .contentArea .contentTitleTag .contentIngredients ul li {
          display: block; }
  .contentArea .contentInstructions {
    grid-area: instructions;
    overflow: auto; }
    .contentArea .contentInstructions ol {
      list-style-position: inside; }
  .contentArea .hiddenText,
  .contentArea .contentTitleTag .hiddenText {
    max-height: 0; }

@media (min-width: 600px) {
  .contentArea {
    padding: unset;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh auto;
    grid-template-areas: "img meta" "instructions instructions";
    border-radius: 0px;
    height: 100%; }
    .contentArea:hover .hiddenText,
    .contentArea:hover .contentTitleTag .hiddenText {
      max-height: 100%; }
    .contentArea .hiddenText,
    .contentArea .contentTitleTag .hiddenText {
      transition: unset;
      max-height: 100%; }
    .contentArea .contentImg {
      grid-area: img;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start; }
      .contentArea .contentImg img {
        border-radius: 5px; }
    .contentArea .contentTitleTag {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: stretch;
      grid-area: meta;
      max-height: unset;
      overflow: unset; }
      .contentArea .contentTitleTag h1 {
        text-align: center; }
      .contentArea .contentTitleTag ul li {
        display: inline; }
        .contentArea .contentTitleTag ul li h6 {
          display: inherit; }
      .contentArea .contentTitleTag .contentIngredients {
        background-color: whitesmoke; }
        .contentArea .contentTitleTag .contentIngredients ul {
          column-count: 2; }
    .contentArea .contentInstructions {
      grid-area: instructions;
      column-count: 2;
      column-gap: 2rem; } }

.myPageMain .myProfile {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 50vh minmax(100px, auto) minmax(300px, auto);
  grid-template-areas: "accountInfo" "profilePicture" "imgGallery"; }
  .myPageMain .myProfile .accountInfo {
    grid-area: accountInfo;
    padding: 0 1rem; }
    .myPageMain .myProfile .accountInfo h3 {
      text-align: center; }
    .myPageMain .myProfile .accountInfo .rows {
      background-color: #e6e6e6;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: stretch;
      max-height: 85%;
      overflow: auto; }
  .myPageMain .myProfile .profilePicture {
    grid-area: profilePicture;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding: 1rem; }
    .myPageMain .myProfile .profilePicture img {
      max-width: 80%;
      max-height: 300px; }
  .myPageMain .myProfile .imgGallery {
    grid-area: imgGallery;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid black; }
    .myPageMain .myProfile .imgGallery img {
      max-height: 200px;
      object-fit: contain;
      margin: 1rem; }

@media (min-width: 600px) {
  .myPageMain .myProfile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh minmax(100px, auto);
    grid-template-areas: "accountInfo profilePicture" "imgGallery imgGallery"; }
    .myPageMain .myProfile .accountInfo {
      grid-area: accountInfo; }
      .myPageMain .myProfile .accountInfo .rows {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch;
        max-height: 85%;
        overflow: auto; }
    .myPageMain .myProfile .profilePicture {
      border-top: unset;
      border-left: 1px solid black; } }

nav {
  background-color: #ffffff;
  z-index: 1; }

.topContainer {
  background-color: #ffffff;
  grid-area: topContainer;
  position: sticky;
  top: 0%;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center; }
  .topContainer header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    min-width: 100%;
    z-index: 1;
    top: 0;
    left: 0; }
  .topContainer .listHolder {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: inherit;
    height: 0;
    padding: 0 2rem;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0%;
    transition: all 1s; }
    .topContainer .listHolder:hover {
      height: 30vh; }
    .topContainer .listHolder li {
      position: relative; }

.interactionBar {
  grid-area: footer;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center; }

@media (min-width: 768px) {
  body {
    background-image: url("../../img/chicken-curry_large.jpg"); } }

@media (min-width: 600px) {
  body {
    background-image: url("../../img/shakshuka_with_feta_400-900.jpg"); }
  nav {
    z-index: 0; }
  .topContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100%;
    position: unset; }
    .topContainer header {
      border-bottom: 1px solid black;
      position: unset;
      min-width: unset;
      z-index: 0; }
    .topContainer .menuBar {
      border-bottom: 1px solid black; }
      .topContainer .menuBar h1 {
        display: none; }
      .topContainer .menuBar .listHolder {
        position: unset;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
  h4 {
    font-size: 1.5rem; }
  .interactionBar {
    display: none; } }

footer {
  display: none; }

@media (min-width: 600px) {
  footer {
    display: block;
    grid-area: footer;
    background-color: #ffffff;
    position: sticky;
    bottom: 0;
    padding: 0 2rem;
    border-top: 1px solid black; }
    footer ul {
      list-style-type: circle;
      text-decoration: underline; } }

.menuButton {
  margin-right: 1rem;
  font-size: 2.5rem;
  background-color: #ffffff;
  z-index: 2; }
  .menuButton:hover ~ div {
    height: 30vh; }

.interactionBar button {
  text-shadow: 2px 2px 3px black; }

.interactionBar button:nth-of-type(1) {
  color: #19d8ce; }

.interactionBar button:nth-of-type(2) {
  color: white; }

.interactionBar button:nth-of-type(3) {
  color: yellow; }

@media (min-width: 600px) {
  .menuButton {
    display: none; } }

@media (min-width: 600px) {
  .contentImg picture img {
    object-fit: contain;
    border-radius: 5px;
    align-items: center; } }

.settingsMain {
  grid-area: main; }
  .settingsMain section {
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh;
    gap: 1rem; }
    .settingsMain section article h4 {
      border-bottom: solid #ffac41 1px; }
    .settingsMain section article .buttonGroup {
      padding: 1rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: auto;
      width: 80%;
      align-content: flex-start; }
      .settingsMain section article .buttonGroup button {
        padding: 0.5rem 1rem;
        margin: 1rem;
        border-radius: 5px;
        box-shadow: 1px 1px 2px gray; }
        .settingsMain section article .buttonGroup button:hover {
          background-color: gray; }
