$primary_color: #ffffff;
$secondary_color: #323232;
$third_color: #e6e6e6;
$fourth_color: #ffac41;

$basic_border: 1px solid black;
$basic_side_padding_big: 0 1rem;
$basic_side_padding_big: 0 2rem;

$bp-tablet: 768px;
$bp-desktop: 1200px;
$bp-phone: 600px;
