@import "../themes/theme";
@import "../abstracts/variables";

$border-radius-contentArea: 10px;
.contentArea {
  grid-area: main;

  padding: 1rem;
  overflow: hidden;
}
.contentWrapper {
  @include grid(1);

  gap: 0rem;
  grid-template-rows: 40vh minmax(1vh, 35vh) auto;
  grid-template-areas:
    "img"
    "titletag"
    "instructions";

  overflow: hidden;
  transition: all 1s;
  &:hover {
    .hiddenText,
    .contentTitleTag .hiddenText {
      max-height: 100%;
    }
  }
  article {
    transition: all 1s;
    padding: 0 1rem;
  }

  .contentImg {
    grid-area: img;
    @include flex(row, center, center);

    img {
      max-width: 100%;
      border-radius: 5px;
    }
  }
  .contentTitleTag {
    border-radius: 5px;
    grid-area: titletag;
    overflow: hidden;
    background-color: $primary_color;
    h1 {
      text-align: center;
    }
    ul {
      li {
        display: inline;
        h6 {
          display: inherit;
        }
      }
    }
    .contentIngredients {
      background-color: rgb(245, 245, 245);
      overflow: auto;
      ul {
        column-count: 2;
        li {
          display: block;
        }
      }
    }
  }

  .contentInstructions {
    grid-area: instructions;
    background-color: white;

    ol {
      list-style-position: inside;
    }
  }

  .hiddenText,
  .contentTitleTag .hiddenText {
    max-height: 0;
  }
}

@media (min-width: $bp-desktop) {
  .contentWrapper {
    &:hover {
      .hiddenText,
      .contentTitleTag .hiddenText {
        max-height: 100%;
      }
    }
    .hiddenText,
    .contentTitleTag .hiddenText {
      transition: unset;
      max-height: 100%;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh auto;
    grid-template-areas:
      "img meta"
      "instructions instructions";

    border-radius: 0px;
    // border: 1px solid black;
    background-image: linear-gradient(to bottom, $third_color, $primary_color);

    height: 100%;

    .contentImg {
      grid-area: img;
      @include flex(column, flex-end, flex-start);
      // background-color: salmon;
      img {
        border-radius: 5px;
      }
    }
    .contentTitleTag {
      @include flex(column, flex-start, stretch);
      grid-area: meta;
      // background-color: red;
      max-height: unset;
      overflow: unset;
      h1 {
        text-align: center;
      }
      ul {
        li {
          display: inline;
          h6 {
            display: inherit;
          }
        }
      }
      .contentIngredients {
        background-color: rgb(245, 245, 245);

        ul {
          column-count: 2;
          // background-color: green;
        }
      }
    }

    .contentInstructions {
      grid-area: instructions;
      column-count: 2;
      column-gap: 2rem;
      // background-color: powderblue;
    }
  }
}
