@import "../themes/theme";
@import "../abstracts/variables";

$border-radius-contentArea: 10px;
.contentArea {
  grid-area: main;

  padding: 1rem;
  overflow: hidden;
}
.contentWrapper {
  @include grid(1);

  gap: 1rem;
  grid-template-rows: 40vh minmax(20vh, 35vh) auto;
  grid-template-areas:
    "img"
    "titletag"
    "instructions";

  overflow: hidden;
  border-radius: 20px;
  background-image: linear-gradient(to bottom, $third_color, $primary_color);

  &:hover {
    .hiddenText {
      // height: 100%;
    }
  }
  article {
    padding: 0 1rem;
  }

  .contentImg {
    grid-area: img;
    // background-color: salmon;
    @include flex(row, center, center);

    img {
      max-width: 100%;
      border-radius: 5px;
    }

    &:hover ~ .hiddenText {
      // max-height: 100%;
    }
  }
  .contentTitleTag {
    grid-area: titletag;
    // background-color: red;
    max-height: 40vh;
    h1 {
      text-align: center;
    }
    ul {
      li {
        display: inline;
        h6 {
          display: inherit;
        }
      }
    }
    .contentIngredients {
      // background-color: navajowhite;
      max-height: 60%;
      overflow: auto;
      ul {
        column-count: 2;
        // background-color: green;
        li {
          display: block;
        }
      }
    }
  }

  .contentInstructions {
    grid-area: instructions;
    // background-color: powderblue;

    ol {
      list-style-position: inside;
    }
  }

  // .hiddenText {
  //   overflow: hidden;
  //   min-height: 0;
  // }
}

@media (min-width: $bp-desktop) {
  .contentWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh auto;
    grid-template-areas:
      "img meta"
      "instructions instructions";

    border-radius: 0px;
    // border: 1px solid black;
    background-image: linear-gradient(to bottom, $third_color, $primary_color);

    height: 100%;

    .contentImg {
      grid-area: img;
      // background-color: salmon;

      img {
        max-width: 100%;
        border-radius: 5px;
      }
    }
    .contentTitleTag {
      grid-area: meta;
      // background-color: red;
      h1 {
        text-align: center;
      }
      ul {
        li {
          display: inline;
          h6 {
            display: inherit;
          }
        }
      }
      .contentIngredients {
        background-color: navajowhite;

        ul {
          column-count: 2;
          // background-color: green;
        }
      }
    }

    .contentInstructions {
      grid-area: instructions;
      // background-color: powderblue;
    }
  }
}
