footer {
  display: none;
}
@media (min-width: $bp-desktop) {
  footer {
    display: block;
    grid-area: footer;
    background-color: $third-color;
    position: sticky;
    bottom: 0;
    padding: 0 2rem;
    ul {
      list-style-type: circle;
    }
  }
}
