footer {
  background-color: $third-color;
  display: none;
  grid-area: footer;
  height: 100%;
}
@media (min-width: $bp-desktop) {
  footer {
    display: block;
    // background-color: green;
  }
}
