@import "../abstracts/mixins";
@import "../abstracts/variables";

.wrapper {
  position: relative;
  min-width: 100%;
  @include grid(1);
  grid-template-rows: 8vh minmax(87vh, auto) minmax(auto, 8vh);
  grid-template-areas:
    "topContainer"
    "main"
    "footer";

  main {
    margin: 1rem;
  }
}

@media (min-width: $bp-phone) {
  .wrapper {
    position: relative;

    @include grid(1);
    grid-template-rows: 9vh minmax(87vh, auto) auto;
    grid-template-areas:
      "topContainer"
      "main"
      "footer";

    main {
      margin: unset;
    }
  }
}
