@import "../abstracts/variables";
@import "../abstracts/mixins";

.myPageMain {
  .myProfile {
    @include grid(1);
    grid-template-rows: 50vh minmax(100px, auto) minmax(300px, auto);
    grid-template-areas:
      "accountInfo"
      "profilePicture"
      "imgGallery";

    .accountInfo {
      grid-area: accountInfo;

      padding: 0 1rem;

      h3 {
        text-align: center;
      }
      .rows {
        background-color: $third_color;
        @include flex(column, flex-start, stretch);
        max-height: 85%;

        overflow: auto;
      }
    }
    .profilePicture {
      grid-area: profilePicture;
      @include flex(row, center, center);

      border-top: 1px solid black;
      padding: 1rem;

      img {
        max-width: 80%;
        max-height: 300px;
      }
    }
    .imgGallery {
      grid-area: imgGallery;

      @include flex(row, space-evenly, flex-start);
      flex-wrap: wrap;

      border-top: 1px solid black;

      img {
        max-height: 200px;
        object-fit: contain;
        margin: 1rem;
      }
    }
  }
}
@media (min-width: $bp-phone) {
  .myPageMain {
    .myProfile {
      @include grid(2);
      grid-template-rows: 40vh minmax(100px, auto);
      grid-template-areas:
        "accountInfo profilePicture"
        "imgGallery imgGallery";

      .accountInfo {
        grid-area: accountInfo;

        .rows {
          @include flex(column, flex-start, stretch);
          max-height: 85%;

          overflow: auto;
          input {
          }
        }
      }
      .profilePicture {
        border-top: unset;
        border-left: 1px solid black;
      }
    }
  }
}
