@import "../abstracts/mixins";
@import "../abstracts/variables";

nav {
  background-color: $primary_color;
  opacity: 0.7;
  z-index: 1;
}

.menuBar {
  grid-area: menuBar;
  position: sticky;
  top: 0%;
  align-items: center;
  @include flex(row, flex_start, flex_end);

  .hiddenMenu {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: $primary_color;
    width: 0vw;
    height: 30vh;
    overflow: hidden;
    transition: width 1s;
    // @include visibilityOff;

    &:hover {
      //   @include visibilityOn;
      width: 30vw;
    }

    .listHolder {
      @include flex(column, space-evenly, center);

      min-width: 80%;
      min-height: 80%;
      position: absolute;
      top: 20%;
      left: 5%;
      //   background-color: brown;

      li {
        position: relative;
        // background-color: green;
      }
    }
  }
}

.interactionBar {
  grid-area: footer;
  //   background-color: red;
  position: sticky;
  //   min-height: 50px;
  bottom: 0;
  @include flex(row, space-around, center);
}

@media (min-width: $bp-tablet) {
  body {
    background-image: url("../../img/chicken-curry_large.jpg");
  }
}

@media (min-width: $bp-desktop) {
  body {
    background-image: url("../../img/shakshuka_with_feta_400-900.jpg");
  }

  .menuBar {
    display: block;
    background-color: green;
    width: 100%;

    .hiddenMenu {
      width: 100%;
      height: 100%;
      &:hover {
        width: 100%;
        // width: initial;
        //   @include visibilityOn;
      }
      //   background-color: red;

      .listHolder {
        @include flex(row, space-around, center);
        // background-color: blue;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }

  h4 {
    font-size: 1.5rem;
  }

  .interactionBar {
    display: none;
  }
}
