@import "../abstracts/mixins";
@import "../abstracts/variables";

nav {
  background-color: $primary_color;
  // opacity: 0.7;
  z-index: 1;
}

.topContainer {
  background-color: $primary-color;
  grid-area: topContainer;
  position: sticky;
  top: 0%;
  align-items: center;
  @include flex(row, flex-end, center);
  header {
    @include flex(row, center, flex-start);
    position: absolute;
    // display: none;
    // background-color: blue;
    // position: absolute; !!!
    // display: none;!!!
    min-width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .listHolder {
    @include flex(column, space-evenly, center);
    background-color: inherit;
    height: 0;
    padding: 0 2rem;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0%;
    transition: all 1s;
    //   background-color: brown;
    &:hover {
      height: 30vh;
    }

    li {
      position: relative;
      // background-color: green;
    }
  }
}

.interactionBar {
  grid-area: footer;
  //   background-color: red;
  position: sticky;
  //   min-height: 50px;
  bottom: 0;
  @include flex(row, space-around, center);
}

@media (min-width: $bp-tablet) {
  body {
    background-image: url("../../img/chicken-curry_large.jpg");
  }
}

@media (min-width: $bp-desktop) {
  body {
    background-image: url("../../img/shakshuka_with_feta_400-900.jpg");
  }

  nav {
    z-index: 0;
  }

  .topContainer {
    @include flex(column, flex-start, stretch);
    // background-color: greenyellow;
    min-height: 100%;

    position: unset;
    header {
      border-bottom: $basic_border;
      position: unset;
      // display: none;
      // background-color: blue;
      // position: absolute; !!!
      // display: none;!!!
      min-width: unset;
      z-index: 0;
    }
    .menuBar {
      border-bottom: $basic_border;
      // background-color: green;

      h1 {
        display: none;
      }
      // .hiddenMenu {
      //   //   width: 100%;
      //   //   height: 100%;
      //   &:hover {
      //     height: 100%;
      //     // width: initial;
      //     //   @include visibilityOn;
      //   }
      //   //   background-color: red;
      // }
      .listHolder {
        position: unset;
        @include flex(row, space-around, center);
        // background-color: blue;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }

  h4 {
    font-size: 1.5rem;
  }

  .interactionBar {
    display: none;
  }
}
