@import "../abstracts/variables";

body {
  // background-color: $primary_color;
  background-image: url("/img/bamboowp_vertical.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  * {
    border: 0;
    box-sizing: border-box;
  }
}
* {
  margin: 0;
  padding: 0;
}
@media (min-width: $bp-phone) {
  body {
    margin: auto;
    max-width: $bp-desktop;
  }
}
