@import "../abstracts/mixins";
@import "../abstracts/variables";
.contentImg picture {
  background-color: red;
}
.contentImg picture img {
  height: 30vh;
  border-radius: 5px;
}

@media (min-width: $bp-desktop) {
  .contentImg picture img {
    // min-height: 40vh;
    object-fit: contain;

    border-radius: 5px;
    align-items: center;
  }
}
