@import "../abstracts/mixins";
@import "../abstracts/variables";
.contentImg picture {
  // background-color: red;
}
.contentImg picture img {
}

@media (min-width: $bp-phone) {
  .contentImg picture img {
    // min-height: 40vh;
    object-fit: contain;

    border-radius: 5px;
    align-items: center;
  }
}
