@import "../abstracts/variables";
ul {
  list-style-type: none;
}

nav {
  background-color: $third_color;
}
main section {
  background-color: $secondary_color;
}

main article {
  background-color: $primary_color;
}

footer {
  background-color: $fourth_color;
}
